<div>
  <h1>Welcome to Glimmer!</h1>
  <button onclick={{action alertThePress}}>
    Do The Thing
  </button>

  <button onclick={{action addSomeFruit}}>
    Add The Fruit
  </button>

  {{!-- Native events --}}
  <input type="text" value={{newFruit}} oninput={{action updateFruit}} />

  <ul>
    {{#each currentFruits key="@index" as |fruit|}}
      <li>{{fruit}}</li>
    {{/each}}
  </ul>
</div>
